:root {
  --black: #505050;
  --white: #fafafa;
  --remote-form-height: 24px;
  --remote-form-border: 1px solid #cccccc;
}
.app {
  height: 100%;
  width: 100%;
  color: var(--black);
}
.remoteVideoContainer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.localVideoContainer {
  position: fixed;
  top: 0;
  right: 0;
}
.video {
  display: block;
  transform: rotateY(180deg);
}
.remoteVideo {
  composes: video;
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.launchForm {
  display: flex;
  flex-direction: column;
  justify-content: center; /* vertically center */
  align-items: center;
  flex-wrap: nowrap;
}
.launchFormGroup {
  flex: 0 0 auto;
}
.launchFormLabel {
  display: block;
  font-size: 12px;
}
.launchFormItem {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 16px;
}
.launchFormId {
  height: var(--remote-form-height);
  width: 160px;
  border: var(--remote-form-border);
  padding: 0 4px;
}
.launchFormButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--remote-form-height);
  width: var(--remote-form-height);
  border: var(--remote-form-border);
  border-left: 0;
}
.icon {
  flex: 0 0 auto;
  font-size: 18px;
}
.localVideo {
  composes: video;
  width: 200px;
}
